body {
    padding-top: 5rem;
  }
  
  body, html {
    height: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    background-color: lightblue;
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 2em;
  }
  
  .bgimg {
    background-image: url("https://lh3.googleusercontent.com/Wdu302Wn6YNBCC4DueGYXuAhGnsHjE2_rVPoR9OLy2n2jCWJfQPeSj472KFKGG84wtUFa9vmCxc7G3MY4l9QBxHMc46x3Nno2OS6Zng_yoM8_CDb8Wn_3rSCPZW9ubBz0E1dR32_B4HXUOyCLLLKgxeQRLUfRZb6eiiI9OutDQ4pAe0f_c7E8tjjqr32QmN60ttsQJPS_RYe7hNJcoHlnIlL3prfUHtcANmmgGTml2epbMOcUZ9jOQYsuGZYZWsKeVUdVDofKWC1m7r4me_UPkXTwTUinz_j9LBnb0hXGUWkvpJRGANUG22q1U-gyyAII9JIG5c89N64OUiNC4xfnDts9jL12VFk5A_nktFy8jIAWDiCw-TdiTjBnbqid4_FkYUc0tNourXUstGQqcDF34Tx8a8S5VjgbXHMlpd9SrMU0_Ig_9qPjgx-8KutKePpZfBniZpFMDxWy6yT-ygzYhwkErSlPteawkWJG3L5FTT9HQ0y2OkiFmzNzOFlF8mKt_eHF8gpQgjz1v2qURHMHkOK_EbLsBQFI3Kodj3g-S3IyjdfI0I5-5qhR9viOgH6CC85LUpw2EfEGPV-vHgAaztjVzdYcuyobHLU-GMM3GPFNDbQJwJeqDSy4KV0po_DCb6PpaCxnb63M36f9fydYQZcprOo1foCxs5AIoWgpttxMoWCWMli1OsZ=w811-h609-no");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
  }
  